<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <pages>
        <controls>
          <add assembly="DotM.Html5, Culture=neutral, PublicKeyToken=cf15bd0a8dbc673d, processorArchitecture=MSIL" namespace="DotM.Html5.SVG" tagPrefix="svg" />
        </controls>
      </pages>
    </system.web>

</configuration>
